<div class="club_member_footer">
  <div class="container">
    <div class="inner_wrapper">
      <div class="social_icons">
        <ul class="social_icons_list">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'icon' -%}
          {%- if block.settings.icon != blank -%}
            <li class="social_icons_list-item">
              <a href="{{ block.settings.icon_url }}">
                <img src="{{ block.settings.icon | img_url: "master" }}">
              </a>
            </li>   
            {%- endif -%}
        {%- endcase -%}
        {%- endfor -%}
        </ul>
      </div>

    <div class="importer_wrapper">
      {%- if section.settings.importer_title != blank -%}
      <p>{{ section.settings.importer_title }}</p>
        {%- endif -%}
      <ul class="importer_list">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'importer' -%}
          {%- if block.settings.importer_image != blank -%}
          <li class="importer_list_item">
            <a href="{{ block.settings.importer_link }}">
                <img src="{{ block.settings.importer_image | img_url: "master" }}">
              </a>
          </li>
        {%- endif -%}
        {%- endcase -%}
        {%- endfor -%}
        </ul>
    </div>
      
      
    </div>
  </div>
</div>

<style>
.club_member_footer {
    padding-top: 23px;
    padding-bottom: 100px;
}

.club_member_footer .container {
    max-width: 940px;
    margin: 0 auto;
}

.club_member_footer .container .inner_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.club_member_footer .container .inner_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.club_member_footer .container .importer_wrapper {
    display: flex;
    align-items: center;
}

.club_member_footer .container .inner_wrapper ul img {
    vertical-align: middle;
}

.club_member_footer .container .inner_wrapper ul.social_icons_list > li {
    margin-right: 18px;
}

.club_member_footer .container .inner_wrapper ul.social_icons_list > li:first-of-type {
    margin: 0;
}

.club_member_footer .container .importer_wrapper p {
margin: 0;
    color: #000;
    text-align: right;
    font-family: HelveticaNow,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 5px;
}


.club_member_footer .container .importer_wrapper ul.importer_list > li:first-of-type {
    margin-right: 18px;
}

.club_member_footer .container .importer_wrapper ul.importer_list > li {
    margin-right: 28px;
}

@media (max-width:767px) {

.club_member_footer .container .inner_wrapper .social_icons ul.social_icons_list {
    justify-content: center;
    margin: 0 auto;
}
  
.club_member_footer {
    padding-top: 0;
    padding-bottom: 32px;
    background-color: #F1F1F1;
}

  .club_member_footer .container .inner_wrapper .social_icons {
    width: 100%;
    text-align: center;
    background: #F1F1F1;
    padding: 31px 0 0;
}
  
  .club_member_footer .container .inner_wrapper {
flex-direction: column-reverse;
background-color: #fff;
  }

.club_member_footer .container .inner_wrapper .importer_wrapper {
    background-color: #fff;
    display: block;
}

.club_member_footer .container .inner_wrapper ul {
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 10px;
    max-width: 238px;
}

.club_member_footer .container .importer_wrapper ul.importer_list > li {
    text-align: right;
    margin-right: 0 !important;
    margin-bottom: 15px;
    flex-basis: 37%;
}

.club_member_footer .container .importer_wrapper p {
    display: block;
    max-width: 238px;
}
}
  
</style>


{% schema %}
  {
    "name": "Club Member Footer",
    "settings": [
      {
        "type": "text",
        "id": "importer_title",
        "label": "Importers",
        "default": "official importer:"
      }
    ],
     "blocks": [
    {
      "type": "icon",
      "name": "Icons",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "url",
          "id": "icon_url",
          "label": "Icon Link"
        }
      ]
    },
      {
      "type": "importer",
      "name": "official importer",
      "settings": [
        {
          "type": "image_picker",
          "id": "importer_image",
          "label": "Importer Image"
        },
        {
          "type": "url",
          "id": "importer_link",
          "label": "Importer Link"
        }
      ]
    }      
  ]  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}