<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.cart_type == "notification" -%}
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if settings.predictive_search_enabled -%}
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
<link rel="stylesheet" href="{{ 'component-header-search.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
{%- if settings.cart_type == "notification" -%}
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
<noscript>{{ 'component-header-search.css' | asset_url | stylesheet_tag }}</noscript>
{% style %}
  
ul.header__submenu.list-menu li a.header__menu-item.link.link--text:hover + ul#HeaderMenu-SubMenuList-{{ forloop.index }} {
    opacity: 1;
    visibility: visible;
    display: block;
}
ul#HeaderMenu-SubMenuList-{{ forloop.index }} {
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    right: 100%;
    background-color: #000;
}

{% endstyle %}
<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }
  .header__heading-logo svg {
    width: {{ section.settings.logo_width }}px;
  }

  @media (max-width:949px) {
    .header_customer_login_popup {
      display: none;
    }
  }
  
  @media screen and (min-width: 950px) {
    header-drawer {
      display: none;
    }
    
    .header__heading.mobile {
      display:none;
    }
    
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
      }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
      }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
.section-header {
margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-header {
margin-bottom: {{ section.settings.margin_bottom }}px;
}
}
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "notification" -%}
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
      </symbol>
    </svg>
  <{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %} {% if section.settings.enable_sticky_header %} header_sticky {% endif %}">
    <header class="header header--{{ section.settings.logo_position }} {{ section.settings.header_width }} {% if section.settings.menu != blank %} header--has-menu{% endif %} {{ section.settings.page-width }}" dir="rtl"
      data-section-id="{{ section.id }}"
          data-section-type="header"
          data-section-settings='{
            "navigationStyle": null,
            "hasTransparentHeader": false,
            "isSticky": false
          }'
      >
      {%- if section.settings.mobile_menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              {% comment %}
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
              {% endcomment %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                     {%- for link in section.settings.mobile_menu.links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: link %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                    <li class="{%- if link.links != blank -%} sub-childs {% else %} no-childs {% endif %} {{ link.title | handle }}">
                      {%- if link.links != blank -%}
                      
                        <a class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                          {{ link.title | escape }}
                          {% comment %}
                          {% render 'icon-arrow' %}
                          {% render 'icon-caret' %}
                          {% endcomment %}
                        </a>

                        
                        {% if link.title contains 'Multy Brand' %}

                        <ul class="menu-drawer__menu list-menu menu-drawer__sub_menu mob-brand-logo" role="list" tabindex="-1">
                          <div class="logos-brand">
                              {%- for childlink in link.links -%}
                              {% assign imageName = childlink.title | handle %} 
                              {% assign brandLogo = imageName | prepend: 'brand-' | append: '.png'  %}
                              {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
                              {%- capture hide_resource -%}{% render "wc_product_visibility", resource: childlink %}{%- endcapture -%}
                              {%- if hide_resource == "true" -%}
                                {% continue %}
                              {%- endif -%}
                              {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                              <li data-image-name="{{ brandLogo }}">
                                {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {% if brandLogo %}
                                  <img src="{{ brandLogo | file_img_url: 'master' }}">
                                    {% else %}
                                    {{ childlink.title | escape }}
                                    
                                  {% endif %}
                                </a>
                                {%- endif -%}
                              </li>
                              {%- endfor -%}
                              </div>
                            </ul>
                          {% else %}

                            <ul class="menu-drawer__menu list-menu menu-drawer__sub_menu" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: childlink %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                              <li>
                                {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
                                {%- else -%}
                                <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                  <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                    {{ childlink.title | escape }}
                                    {% render 'icon-arrow' %}
                                    {% render 'icon-caret' %}
                                  </summary>
                                  <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                    <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                      {% render 'icon-arrow' %}
                                      {{ childlink.title | escape }}
                                    </button>
                                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                      {%- for grandchildlink in childlink.links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: grandchildlink %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                </details>
                                {%- endif -%}
                              </li>
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                      {%- else -%}
                      <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                        {{ link.title | escape }}
                      </a>
                      {%- endif -%}
                    </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                {% comment %}
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                    {% render 'icon-account' %}
                    {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                  </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                        {%- render 'icon-twitter' -%}
                        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                        {%- render 'icon-facebook' -%}
                        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                        {%- render 'icon-pinterest' -%}
                        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                        {%- render 'icon-instagram' -%}
                        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                        {%- render 'icon-tiktok' -%}
                        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                        {%- render 'icon-tumblr' -%}
                        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                        {%- render 'icon-snapchat' -%}
                        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                        {%- render 'icon-youtube' -%}
                        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                    <li class="list-social__item">
                      <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                        {%- render 'icon-vimeo' -%}
                        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                      </a>
                    </li>
                    {%- endif -%}
                  </ul>
                </div>
                {% endcomment %}
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
      {%- endif -%}

      {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
        {% render 'header-search-new', input_id: 'Search-In-Modal-1' %}
      {%- endif -%}
              
             
              <div class="header__heading desktop">
              
                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                  {%- if section.settings.logo != blank -%}
                  <span class="header__heading-logo">
                    {{ section.settings.logo }}
                  </span>


                  {% comment %}
                  {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                  <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       src="{{ section.settings.logo | img_url: image_size }}"
                       loading="lazy"
                       class="header__heading-logo"
                       width="{{ section.settings.logo.width }}"
                       height="{{ section.settings.logo.height }}"
                       alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                       >
                  {% endcomment %}

                  {%- else -%}
                  <span class="h2">{{ shop.name }}</span>
                  {%- endif -%}
                </a>
                
              </div>

              {%- if section.settings.menu != blank -%}
              <nav class="header__inline-menu">
                <ul class="list-menu list-menu--inline" role="list"> 
                  {%- for link in section.settings.menu.links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: link %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}


                  {% assign mega_menu_details = false -%}

                  {%- for block in section.blocks -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}


                  {%-  if block.settings.menu_title == link.title -%}

                  {% assign mega_menu_details = block.settings -%}

                  {%- break -%}
                  {%- endif -%}

                  {%- endfor -%}
                  <li class="{% unless mega_menu_details.mega_menu %} no-mega-menu{% endunless %} {{ link.title | escape }}">
                    {% assign linkTitle = link.title %}
                    {%- if mega_menu_details.mega_menu -%}

                    {%- assign mega_menu = linklists[mega_menu_details.mega_menu] -%}

                    
                    <a class="header__menu-item list-menu__item link focus-inset" href="{{ link.url }}">
                      <span {%- if link.child_active %} class="header__active-menu-item"{%- endif -%}>{{ link.title | escape }}</span>
                      {% comment %}
                      {% render 'icon-caret' %}
                      {% endcomment %}
                    </a>
                                          
                    <div class="mega-menu-wrapper">
                      <div class="mega-menu-inner-wrapper">
                        <div class="ul-menu-list-wrapper">
                      
                          <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                            {%- for link in mega_menu.links -%}
                            {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
                            {%- capture hide_resource -%}{% render "wc_product_visibility", resource: link %}{%- endcapture -%}
                            {%- if hide_resource == "true" -%}
                              {% continue %}
                            {%- endif -%}
                            {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}
                              
                              
                            <li {% if brandLogo and linkTitle == 'המותגים שלנו' %}data-image-name="{{ brandLogo }}"{% endif %}>
                              {% assign imageName = link.title | handle %} 
                              {% assign brandLogo = imageName | prepend: 'brand-' | append: '.png'  %}
                              {%- if link.links == blank -%}
                              <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                             
                                {% if brandLogo and linkTitle == 'המותגים שלנו' %}
                                <img src="{{ brandLogo | file_img_url: 'master' }}">
                                  {% else %}
                                {{ link.title | escape }}
                                  {% endif %}
                              </a>
                              {%- else -%}
                              <a href="{{ link.url }}" class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                
                                {% if brandLogo and linkTitle == 'המותגים שלנו' %}
                                <img src="{{ brandLogo | file_img_url: 'master' }}">
                                  {% else %}
                                {{ link.title | escape }}
                                {% endif %}
                                {% comment %}
                                {% render 'icon-caret' %}
                                {% endcomment %}
                              </a>
                                
                              <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header___parent_submenu list-menu motion-reduce">
                                {%- for childlink in link.links -%}
                                {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
                                {%- capture hide_resource -%}{% render "wc_product_visibility", resource: childlink %}{%- endcapture -%}
                                {%- if hide_resource == "true" -%}
                                  {% continue %}
                                {%- endif -%}
                                {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                                <li class="{% if childlink.links == blank %}no-child-submenu{% else %}child-submenu{% endif %}">
                                  {%- if childlink.links == blank -%}
                                  <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                    {{ childlink.title | escape }}
                                  </a>
                                  {%- else -%}
                                   
                                  <a href="{{ childlink.url }}" class="header__menu-item link link--text list-menu__item focus-inset caption-large kishan">
                                    {{ childlink.title | escape }}
                                    {% comment %}
                                    {% render 'icon-caret' %}
                                    {% endcomment %}
                                  </a>
                                  <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__grand_submenu list-menu motion-reduce">
                                    {%- for grandchildlink in childlink.links -%}
                                {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
                                {%- capture hide_resource -%}{% render "wc_product_visibility", resource: grandchildlink %}{%- endcapture -%}
                                {%- if hide_resource == "true" -%}
                                  {% continue %}
                                {%- endif -%}
                                {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                                    <li class="{% if grandchildlink.links == blank %}no-grand-child-submenu{% else %}grand-child-submenu{% endif %}">
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                    {%- endfor -%}
                                  </ul>
                                </li>
                                {%- endif -%}
                                {%- endfor -%}
                              </ul>
                              {%- endif -%}
                            </li>
                            {%- endfor -%}
                              
                          </ul>
                              
                          {% if mega_menu_details.menu_bottom_text != blank %}
                          <div class="mega-menu-delivery-notice">
                            <div class="mega-menu-delivery-notice-inner">
                              <div class="mega-menu-delivery-separator"></div>
                              <div class="mega-menu-delivery-copy">
                                <span>{{ mega_menu_details.menu_bottom_text }}</span>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        {% if mega_menu_details.menu_image != blank %}
                        <div class="cm-menu-right-image" {% if mega_menu_details.menu_image != blank %} style="background-image:url('{{ mega_menu_details.menu_image | img_url: "master" }}')" {% endif %}>
                          <div class="menu-right-image-content">
                            {% if mega_menu_details.menu_image_title != blank %}
                            <h4>{{ mega_menu_details.menu_image_title }}</h4>
                            {% endif %}
                            {% if mega_menu_details.menu_image_button_link != blank and mega_menu_details.menu_image_button_text %}
                            <a href="{{ mega_menu_details.menu_image_button_link }}" class="right_image_button">{{ mega_menu_details.menu_image_button_text }}</a>
                            {% endif %}
                          </div> 
                      </div>
                        {% endif %}
                      
                      </div>
                    </div>
                    
                    {%- elsif link.links != blank -%}
                    <a class="header__menu-item list-menu__item link focus-inset" href="{{ link.url }}">
                      <span {%- if link.child_active %} class="header__active-menu-item"{%- endif -%}>{{ link.title | escape }}</span>
                      {% comment %}
                      {% render 'icon-caret' %}
                      {% endcomment %}
                    </a>

                      
                    {% if link.title contains 'Multy Brand' %}
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce logos-only" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                      {% assign imageName = childlink.title | handle %} 
                      {% assign brandLogo = imageName | prepend: 'brand-' | append: '.png'  %}
                      {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
                      {%- capture hide_resource -%}{% render "wc_product_visibility", resource: childlink %}{%- endcapture -%}
                      {%- if hide_resource == "true" -%}
                        {% continue %}
                      {%- endif -%}
                      {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                      <li data-image-name="{{ brandLogo }}" >
                        {%- if childlink.links == blank -%}
                        <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                         {%- comment -%} {{ childlink.title | escape }}{%- endcomment -%}
                          <img src="{{ brandLogo | file_img_url: 'master' }}">
                        </a>
                        {%- else -%}
                        <a class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                          {% if brandLogo %}
                          <img src="{{ brandLogo | file_img_url: 'master' }}">
                            {% else %}
                          <span>{{ childlink.title | escape }}</span>
                            {% endif %}
                          
                          {% comment %}
                          {% render 'icon-caret' %}
                          {% endcomment %}
                        </a>
                        {%- endif -%}
                      </li>
                      {%- endfor -%}
                      </ul>

                    {% else %}  


                    <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: childlink %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                      <li>
                        {%- if childlink.links == blank -%}
                        <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                          {{ childlink.title | escape }}
                        </a>
                        {%- else -%}
                        <a class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                          <span>{{ childlink.title | escape }}</span>
                          {% comment %}
                          {% render 'icon-caret' %}
                          {% endcomment %}
                        </a>


                          
                        <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                          {%- for grandchildlink in childlink.links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: grandchildlink %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                          <li>
                            <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                          {%- endfor -%}
                        </ul>
                        {%- endif -%}
                      </li>
                      {%- endfor -%}
                    </ul>

                      {% endif %}

                  
                    {%- else -%}
                    <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                      <span {%- if link.current %} class="header__active-menu-item"{%- endif -%}>{{ link.title | escape }}</span>
                    </a>
                    {%- endif -%}
                  </li>
                  {%- endfor -%}
                </ul>
              </nav>
              {%- endif -%}

             
              <div class="header__heading mobile">
                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                  {%- if section.settings.logo != blank -%}
                  <span class="header__heading-logo">
                    {{ section.settings.logo }}
                  </span>


                  {% comment %}
                  {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                  <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       src="{{ section.settings.logo | img_url: image_size }}"
                       loading="lazy"
                       class="header__heading-logo"
                       width="{{ section.settings.logo.width }}"
                       height="{{ section.settings.logo.height }}"
                       alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                       >
                  {% endcomment %}

                  {%- else -%}
                  <span class="h2">{{ shop.name }}</span>
                  {%- endif -%}
                </a>
              </div>
              
              <div class="header__icons">
                {% if section.settings.single_menu_title_link != blank %}
                <div class="header_single_link additional-main-links__link">
                  <a href="{{ section.settings.single_menu_title_link }}">{{ section.settings.single_menu_title }}</a>
                </div>
                {% endif %}
                
                
                {% render 'header-search-new', input_id: 'Search-In-Modal-1' %}

                        <div class="header__customer_login additional-main-links__link">

                          {%- if shop.customer_accounts_enabled -%}
                          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                            {% comment %}
                            {% render 'icon-account' %}
                            <span class="visually-hidden">
                              {%- liquid
                              if customer
                                echo 'customer.account_fallback' | t
                              else
                                echo 'customer.log_in' | t
                              endif
                            -%}                             
                            </span>
                            {% endcomment %} 

                            {% if customer %}<span class="customer-name">{{ customer.first_name }}</span>{%  endif %}
                          </a>
                          {%- endif -%}
                          
                          <div class="header_customer_login_popup">                         
                            <h3 class="login-pop-up-title">
                              Runner Account
                            </h3> 

                            
                            {% if customer %}

                                    <a href="{{ routes.account_logout_url }}" class="logout-button">{{ 'customer.log_out' | t }} </a>
                             {% else %} 
                             {%- form 'customer_login', novalidate: 'novalidate', id: 'popup_customer_login' -%}
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        {{ form.errors | default_errors }}
      {%- endif -%}
                               
   
      <div class="field">        
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
        >
        <label for="CustomerEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
      </div>

      {%- if form.password_needed -%}
        <div class="field">          
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.password' | t }}"
          >
          <label for="CustomerPassword">
            {{ 'customer.login_page.password' | t }}
          </label>
        </div>

        <a href="#recover">
          {{ 'customer.login_page.forgot_password' | t }}
        </a>
      {%- endif -%}

      <button>
        התחבר
        {% comment %}
        {{ 'customer.login_page.sign_in' | t }}
        {% endcomment %}
      </button>

      <a href=" {%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
        הרשם
        {% comment %}
                               {{ routes.account_register_url }}
        {{ 'customer.login_page.create_account' | t }}
        {% endcomment %}
      </a>
      
    {%- endform -%}

                              {% endif %}
                            
                          </div>
                          
                        </div>
                          
                        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset additional-main-links__link" id="cart-icon-bubble">
                         
                          {% comment %}
                          {%- liquid
                          if cart == empty
                            render 'icon-cart-empty'
                          else
                            render 'icon-cart'
                          endif
                        -%}
                          {% endcomment %}
                          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                          {%- if cart != empty -%}
                          <div class="cart-count-bubble">
                            {%- if cart.item_count < 100 -%}
                            <span aria-hidden="true">{{ cart.item_count }}</span>
                            {%- endif -%}
                            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                          </div>
                          {%- endif -%}
                        </a>
                        </div>
                      </header>
                    </{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

                          {%- if settings.cart_type == "notification" -%}
                  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
                          {%- endif -%}

                  {% javascript %}
                  class StickyHeader extends HTMLElement {header__search
                  constructor() {
                  super();
                  }

                  connectedCallback() {
                  this.header = document.getElementById('shopify-section-header');
                  this.headerBounds = {};
                  this.currentScrollTop = 0;
                  this.preventReveal = false;
                  this.predictiveSearch = this.querySelector('predictive-search');

                  this.onScrollHandler = this.onScroll.bind(this);
                  this.hideHeaderOnScrollUp = () => this.preventReveal = true;

                  this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
                  window.addEventListener('scroll', this.onScrollHandler, false);

                  this.createObserver();
                  }

                  disconnectedCallback() {
                  this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
                  window.removeEventListener('scroll', this.onScrollHandler);
                  }

                  createObserver() {
                  let observer = new IntersectionObserver((entries, observer) => {
                  this.headerBounds = entries[0].intersectionRect;
                  observer.disconnect();
                  });

                  observer.observe(this.header);
                  }

                  onScroll() {
                  const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                  if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

                  if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
                  requestAnimationFrame(this.hide.bind(this));
                  } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
                  if (!this.preventReveal) {
                  requestAnimationFrame(this.reveal.bind(this));
                  } else {
                  window.clearTimeout(this.isScrolling);

                  this.isScrolling = setTimeout(() => {
                  this.preventReveal = false;
                  }, 66);

                  requestAnimationFrame(this.hide.bind(this));
                  }
                  } else if (scrollTop <= this.headerBounds.top) {
                                                               requestAnimationFrame(this.reset.bind(this));
                                                               }


                                                               this.currentScrollTop = scrollTop;
                                                               }

                                                               hide() {
                                                               this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
                                                               this.closeMenuDisclosure();
                                                               this.closeSearchModal();
                                                               }

                                                               reveal() {
                                                               this.header.classList.add('shopify-section-header-sticky', 'animate');
                                                               this.header.classList.remove('shopify-section-header-hidden');
                                                               }

                                                               reset() {
                                                               this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
                                                               }

                                                               closeMenuDisclosure() {
                                                               this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
                                                               this.disclosures.forEach(disclosure => disclosure.close());
                  }

                  closeSearchModal() {
                  this.searchModal = this.searchModal || this.header.querySelector('details-modal');
                  this.searchModal.close(false);
                  }
                  }

                  customElements.define('sticky-header', StickyHeader);
                  {% endjavascript %}

                  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
                  </script>

                  {%- if request.page_type == 'index' -%}
                  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
                  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
                  </script>

                  {%- endif -%}


                  {% schema %}
                  {
                  "name": "t:sections.header.name",
                  "class": "section-header",
                  "settings": [        
                  {
                  "type": "select",
                  "id": "header_width",
                  "options": [
                  {
                  "value": "full-width",
                  "label": "t:sections.header.settings.header_width.options_width__1.label"
                  },
                  {
                  "value": "page-width",
                  "label": "t:sections.header.settings.header_width.options_width__2.label"
                  }
                  ],
                  "default": "full-width",
                  "label": "t:sections.header.settings.header_width.label"
                  },        
                  {
                  "type": "select",
                  "id": "color_scheme",
                  "options": [
                  {
                  "value": "accent-1",
                  "label": "t:sections.header.settings.color_scheme.options__1.label"
                  },
                  {
                  "value": "accent-2",
                  "label": "t:sections.header.settings.color_scheme.options__2.label"
                  },
                  {
                  "value": "background-1",
                  "label": "t:sections.header.settings.color_scheme.options__3.label"
                  },
                  {
                  "value": "background-2",
                  "label": "t:sections.header.settings.color_scheme.options__4.label"
                  },
                  {
                  "value": "inverse",
                  "label": "t:sections.header.settings.color_scheme.options__5.label"
                  }
                  ],
                  "default": "background-1",
                  "label": "t:sections.header.settings.color_scheme.label"
                  },
                  {
                  "type": "html",
                  "id": "logo",
                  "label": "t:sections.header.settings.logo.label"
                  },
                  {
                  "type": "range",
                  "id": "logo_width",
                  "min": 50,
                  "max": 250,
                  "step": 10,
                  "default": 100,
                  "unit": "t:sections.header.settings.logo_width.unit",
                  "label": "t:sections.header.settings.logo_width.label"
                  },
                  {
                  "type": "select",
                  "id": "logo_position",
                  "options": [
                  {
                  "value": "middle-left",
                  "label": "t:sections.header.settings.logo_position.options__1.label"
                  },
                  {
                  "value": "top-left",
                  "label": "t:sections.header.settings.logo_position.options__2.label"
                  },
                  {
                  "value": "top-center",
                  "label": "t:sections.header.settings.logo_position.options__3.label"
                  }
                  ],
                  "default": "middle-left",
                  "label": "t:sections.header.settings.logo_position.label",
                  "info": "t:sections.header.settings.logo_position.info"
                  },
                  {
                  "type": "link_list",
                  "id": "menu",
                  "default": "main-menu",
                  "label": "t:sections.header.settings.menu.label"
                  },
                   {
                  "type": "link_list",
                  "id": "mobile_menu",
                  "default": "main-menu",
                  "label": "t:sections.header.settings.mobile_menu.label"
                  },
                  {
                  "type": "checkbox",
                  "id": "show_line_separator",
                  "default": true,
                  "label": "t:sections.header.settings.show_line_separator.label"
                  },
                  {
                  "type": "checkbox",
                  "id": "enable_sticky_header",
                  "default": true,
                  "label": "t:sections.header.settings.enable_sticky_header.label",
                  "info": "t:sections.header.settings.enable_sticky_header.info"
                  },
                  {
                  "type": "header",
                  "content": "t:sections.all.spacing"
                  },
                  {
                  "type": "range",
                  "id": "margin_bottom",
                  "min": 0,
                  "max": 100,
                  "step": 4,
                  "unit": "px",
                  "label": "t:sections.header.settings.margin_bottom.label",
                  "default": 0
                  },
                  {
                  "type": "header",
                  "content": "Single Button On Header"
                  },
                  {
                  "type": "text",
                  "id": "single_menu_title",
                  "label": "t:sections.header.settings.single_menu_title.label"
                  },
                   {
                  "type": "url",
                  "id": "single_menu_title_link",
                  "label": "t:sections.header.settings.single_menu_title_link.label"
                  }
                  ],
                  "blocks": [
                  {
                  "type": "text",
                  "name": "t:sections.header.blocks.text.name",
                  "settings": [
                  {
                  "type": "text",
                  "id": "menu_title",
                  "label": "t:sections.header.blocks.text.settings.menu_title.label"
                  },                
                  {
                  "type": "link_list",
                  "id": "mega_menu",
                  "label": "t:sections.header.blocks.text.settings.mega_menu.label"
                  },
                  {
                  "type": "text",
                  "id": "menu_bottom_text",
                  "label": "t:sections.header.blocks.text.settings.menu_bottom_text.label"
                  },
                  {
                  "type": "header",
                  "content": "Mega Menu Image"
                  },
                  {
                  "type": "image_picker",
                  "id": "menu_image",
                  "label": "t:sections.header.blocks.text.settings.menu_image.label"
                  },
                  {
                  "type": "text",
                  "id": "menu_image_title",
                  "label": "t:sections.header.blocks.text.settings.menu_image_title.label"
                  },
                  {
                  "type": "text",
                  "id": "menu_image_button_text",
                  "label": "t:sections.header.blocks.text.settings.menu_image_button_text.label"
                  },
                  {
                  "type": "url",
                  "id": "menu_image_button_link",
                  "label": "t:sections.header.blocks.text.settings.menu_image_button_link.label"
                  }
                  ]
                  } 
                  ]
                  }
                  {% endschema %}
